* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #ffc74c;
    font-family: "public/fonts/MonumentExtended-Regular.otf";
}
  
.logo {
    position: absolute;
    width: 36px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.vets {
    padding-top: 370px;
    padding-left: 347px;
    width: 40vw;
    
}

.buttons {
    margin-top: 68px;
    margin-left: 224px;
    display: flex; 
    justify-content: space-between; 
    gap: 31px;
    max-width: 40vw;
}

.button {
    background-color: #000000;
    color: #ffc74c;
    border: none;
    border-radius: 2px;
    border-color: #000000;
    font-size: 14px;
    margin-left: 31px;
    width: 178px;
    height: 41px;
    font-family: "/fonts/MonumentExtended-Regular.otf"
}

a:link {
    color: #ffc74c;;
}

a:hover {
    color: hotpink;
}

a:visited {
    color: #ffc74c;
}

a:active {
    color: rgb(0, 204, 255);
}
.section2 {
    width: 100vh;
    height: 50%;
    z-index: 0;
    margin-right: 70px;
    display: flex;

    
}
.soldiers {
    width: 100%;
    position: sticky;
    vertical-align: bottom;
    z-index: 0;

}

.mision {
    margin-left: auto;
    margin-right: 0px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    max-width: 200px;
    max-height: 30px;
    margin-right: 270px;

}
.vision {
    margin-left: auto;
    margin-right: 0px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    max-height: 50px;
}
.h1mision {
    margin-left: 78%;
    margin-right: 70px;
    padding-top: 572px;
    text-align: right;
    color: #ffc74c;
    font-size: 45pt;
    position: relative;
}
.pmision {
    margin-right: 70px;
    margin-left: 78%;
    padding-top: 25px;
    text-align: right;
    color: #ffffff;
    font-size: 14pt;
    position: relative;
    z-index: 1;
}
.h1vision {
    margin-left: 78%;
    margin-right: 70px;
    margin-top: 73px;
    text-align: right;
    color: #ffc74c;
    font-size: 45pt;
    position: relative;
    float: right;
}
.pvision {
    margin-left: 78%;
    margin-right: 70px;
    padding-top: 25px;
    text-align: right;
    color: #ffffff;
    font-size: 14pt;
    position: relative;
    float: right;
}
.footer {
  position: sticky;  
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.contenedor {
  position: relative;
  min-height: 90vh;
  background: url('public/soldiers.png') bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  width: 100%;
  margin-top: 200px;
}
.logo2 {
    margin-left: 70px;
    margin-bottom: 75px;
    width: 36px;
    height: 30px;
}
.copyright {
    position: relative;
    color: #ffc74c;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 79px;
    margin-left: 427px;
}

.links {
    flex-wrap: wrap;
    width: 36px;
    height: 30px;
    margin-bottom: 74px;
    gap: 38px;
    padding-right: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-bottom: 0; 
    margin-right: 270px;
}

